* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color:#070707;
    background-image: url('');
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color:#fdfdfd;
    font-size: 1rem;
}

a:hover {
    color: #154e28;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 80px;
    height: 0;
    width: 300px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s ease;
}

.dropdown_menu.open {
    height: 148px;
}

.dropdown_menu li {
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 552px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.socials {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.socials img {
  width: 32px;
  
}

h1 {
    color: #333;
    margin-top: 0;
}

h2 {
    color: #111;
    text-align: left;
}

h3 {
    color:#111;
    text-align: left;
}

.snap-left {
  float: left;
  width: 45%;
  padding: 10px;
  margin: 5px;
}

.snap-right {
  float: right;
  width: 45%;
  padding: 10px;
  margin: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}